@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&family=Roboto+Mono:wght@700&family=Ysabeau:ital,wght@0,300;0,500;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@500&display=swap');

:root{
    --cor-principal: antiquewhite;
    --cor-secundaria: darkslategrey;
    --preto: black;
    --cor-botao: aquamarine;
    --hover-botao: aqua;
    --active-botao: rgb(3, 179, 179);
    --cinza-medio: #AAAAAA;
    --cinza-claro: #CCCCCC;
}


body {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    /*background-color: black;
    color: antiquewhite;*/
    font-family: 'Montserrat', sans-serif;
}


section {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-topo {
    flex-direction: column;
    background-color: var(--cor-secundaria);
    height: 10vh;
}

h1 {
    font-size: 7vh;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    color: var(--preto);
}

h2 {
    font-size: 2rem;
    margin: 2rem;
}

p {
    margin: 1rem;
}

.botao-mostra-lista,
.botao-novo-aluno,
.bt_atualiza-lista {
    background-color: var(--cor-botao);
    border-radius: 10px;
    width: 10rem;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

.botao-mostra-lista:hover,
.botao-novo-aluno:hover,
.bt_atualiza-lista:hover {
    background-color: var(--hover-botao);
}

.botao-mostra-lista:active,
.botao-novo-aluno:active,
.bt_atualiza-lista:active {
    background-color: var(--active-botao);
}

.secao-novo-aluno {
    display: none;
    margin: 3rem 25%;
    flex-direction: column;
    border: solid 1px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.secao-tabela {
    display: none;
    margin: 3rem 25%;
    flex-direction: column;
}

.campo-pesquisa {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.bt-cadastrar,
.bt-filtrar {
    background-color: var(--cor-botao);
    border-radius: 10px;
    width: 6rem;
    display: block;
    margin: 5px;
}

.bt-cadastrar:hover,
.bt-filtrar:hover {
    background-color: var(--hover-botao);
}

.bt-cadastrar:active,
.bt-filtrar:active {
    background-color: var(--active-botao);
}


table {
    display: block ruby;
    margin-bottom: 50px;
}

th {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

td {
    padding: 0.1rem 1.5rem;
    text-align: center;

}

.edita,
.contrata,
.exclui {
    padding: 0;
    background: transparent;
    border-style: outset;
    width: 2rem;
    height: 2rem;
}

.edita:hover,
.contrata:hover,
.exclui:hover {
    background-color: var(--cinza-claro)
}

.edita:active,
.contrata:active .exclui:active {
    background-color: var(--cinza-medio);
}

footer {
    background-color: var(--cinza-medio);
    width: 100vw;
    margin-top: 20vh;
    padding: 10vh 0;
    position: relative;
}

footer p {
    text-align: center;
}

.apresentacao-pessoal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
}

a {
    font-family: 'Ysabeau', sans-serif;
    text-decoration: underline wavy;
    color: var(--cor-secundaria)
}



.oculta {
    display: none;
}

.mostra {
    display: flex;
}