body {
    background-color: antiquewhite;
}

section {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-topo {
    flex-direction: column;
    background-color: grey;
    height: 10vh;
}

h1 {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin: 2rem;
}

p {
    margin: 1rem;
}

button {
    background-color: aquamarine;
    border-radius: 10px;
    width: 10rem;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

button:hover {
    background-color: aqua;
}

.secao-novo-aluno {
    display: none;
    margin: 3rem 25%;
    flex-direction: column;
    border: solid 1px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.secao-tabela {
    display: none;
    margin: 3rem 25%;
    flex-direction: column;
    border: solid 1px;
    border-radius: 10px;
}

.campo-pesquisa {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem
}

table {
    display: block ruby;
}

th {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

td {
    padding: 0.1rem 1.5rem;
}

footer {
    padding: 10vh;
}

footer p {
    text-align: center;
}



.oculta {
    display: none;
}

.mostra{
    display: flex;
}